.btn-space-giver{
    margin-right:10px;
}
.give-space-mr{
    margin-right: 10rem;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size:large !important;
}
.content-margin-overlap{
    margin-top: 120px;
}
